/* White perspective */
.w.square-a1 {
	transform: translate(0%, 700%);
}
.w.square-b1 {
	transform: translate(100%, 700%);
}
.w.square-c1 {
	transform: translate(200%, 700%);
}
.w.square-d1 {
	transform: translate(300%, 700%);
}
.w.square-e1 {
	transform: translate(400%, 700%);
}
.w.square-f1 {
	transform: translate(500%, 700%);
}
.w.square-g1 {
	transform: translate(600%, 700%);
}
.w.square-h1 {
	transform: translate(700%, 700%);
}

.w.square-a2 {
	transform: translate(0%, 600%);
}
.w.square-b2 {
	transform: translate(100%, 600%);
}
.w.square-c2 {
	transform: translate(200%, 600%);
}
.w.square-d2 {
	transform: translate(300%, 600%);
}
.w.square-e2 {
	transform: translate(400%, 600%);
}
.w.square-f2 {
	transform: translate(500%, 600%);
}
.w.square-g2 {
	transform: translate(600%, 600%);
}
.w.square-h2 {
	transform: translate(700%, 600%);
}

.w.square-a3 {
	transform: translate(0%, 500%);
}
.w.square-b3 {
	transform: translate(100%, 500%);
}
.w.square-c3 {
	transform: translate(200%, 500%);
}
.w.square-d3 {
	transform: translate(300%, 500%);
}
.w.square-e3 {
	transform: translate(400%, 500%);
}
.w.square-f3 {
	transform: translate(500%, 500%);
}
.w.square-g3 {
	transform: translate(600%, 500%);
}
.w.square-h3 {
	transform: translate(700%, 500%);
}

.w.square-a4 {
	transform: translate(0%, 400%);
}
.w.square-b4 {
	transform: translate(100%, 400%);
}
.w.square-c4 {
	transform: translate(200%, 400%);
}
.w.square-d4 {
	transform: translate(300%, 400%);
}
.w.square-e4 {
	transform: translate(400%, 400%);
}
.w.square-f4 {
	transform: translate(500%, 400%);
}
.w.square-g4 {
	transform: translate(600%, 400%);
}
.w.square-h4 {
	transform: translate(700%, 400%);
}

.w.square-a5 {
	transform: translate(0%, 300%);
}
.w.square-b5 {
	transform: translate(100%, 300%);
}
.w.square-c5 {
	transform: translate(200%, 300%);
}
.w.square-d5 {
	transform: translate(300%, 300%);
}
.w.square-e5 {
	transform: translate(400%, 300%);
}
.w.square-f5 {
	transform: translate(500%, 300%);
}
.w.square-g5 {
	transform: translate(600%, 300%);
}
.w.square-h5 {
	transform: translate(700%, 300%);
}

.w.square-a6 {
	transform: translate(0%, 200%);
}
.w.square-b6 {
	transform: translate(100%, 200%);
}
.w.square-c6 {
	transform: translate(200%, 200%);
}
.w.square-d6 {
	transform: translate(300%, 200%);
}
.w.square-e6 {
	transform: translate(400%, 200%);
}
.w.square-f6 {
	transform: translate(500%, 200%);
}
.w.square-g6 {
	transform: translate(600%, 200%);
}
.w.square-h6 {
	transform: translate(700%, 200%);
}

.w.square-a7 {
	transform: translate(0%, 100%);
}
.w.square-b7 {
	transform: translate(100%, 100%);
}
.w.square-c7 {
	transform: translate(200%, 100%);
}
.w.square-d7 {
	transform: translate(300%, 100%);
}
.w.square-e7 {
	transform: translate(400%, 100%);
}
.w.square-f7 {
	transform: translate(500%, 100%);
}
.w.square-g7 {
	transform: translate(600%, 100%);
}
.w.square-h7 {
	transform: translate(700%, 100%);
}

.w.square-a8 {
	transform: translate(0%, 0%);
}
.w.square-b8 {
	transform: translate(100%, 0%);
}
.w.square-c8 {
	transform: translate(200%, 0%);
}
.w.square-d8 {
	transform: translate(300%, 0%);
}
.w.square-e8 {
	transform: translate(400%, 0%);
}
.w.square-f8 {
	transform: translate(500%, 0%);
}
.w.square-g8 {
	transform: translate(600%, 0%);
}
.w.square-h8 {
	transform: translate(700%, 0%);
}

/* Black perspective */
.b.square-a1 {
	transform: translate(700%, 0%);
}
.b.square-b1 {
	transform: translate(600%, 0%);
}
.b.square-c1 {
	transform: translate(500%, 0%);
}
.b.square-d1 {
	transform: translate(400%, 0%);
}
.b.square-e1 {
	transform: translate(300%, 0%);
}
.b.square-f1 {
	transform: translate(200%, 0%);
}
.b.square-g1 {
	transform: translate(100%, 0%);
}
.b.square-h1 {
	transform: translate(0%, 0%);
}

.b.square-a2 {
	transform: translate(700%, 100%);
}
.b.square-b2 {
	transform: translate(600%, 100%);
}
.b.square-c2 {
	transform: translate(500%, 100%);
}
.b.square-d2 {
	transform: translate(400%, 100%);
}
.b.square-e2 {
	transform: translate(300%, 100%);
}
.b.square-f2 {
	transform: translate(200%, 100%);
}
.b.square-g2 {
	transform: translate(100%, 100%);
}
.b.square-h2 {
	transform: translate(0%, 100%);
}

.b.square-a3 {
	transform: translate(700%, 200%);
}
.b.square-b3 {
	transform: translate(600%, 200%);
}
.b.square-c3 {
	transform: translate(500%, 200%);
}
.b.square-d3 {
	transform: translate(400%, 200%);
}
.b.square-e3 {
	transform: translate(300%, 200%);
}
.b.square-f3 {
	transform: translate(200%, 200%);
}
.b.square-g3 {
	transform: translate(100%, 200%);
}
.b.square-h3 {
	transform: translate(0%, 200%);
}

.b.square-a4 {
	transform: translate(700%, 300%);
}
.b.square-b4 {
	transform: translate(600%, 300%);
}
.b.square-c4 {
	transform: translate(500%, 300%);
}
.b.square-d4 {
	transform: translate(400%, 300%);
}
.b.square-e4 {
	transform: translate(300%, 300%);
}
.b.square-f4 {
	transform: translate(200%, 300%);
}
.b.square-g4 {
	transform: translate(100%, 300%);
}
.b.square-h4 {
	transform: translate(0%, 300%);
}

.b.square-a5 {
	transform: translate(700%, 400%);
}
.b.square-b5 {
	transform: translate(600%, 400%);
}
.b.square-c5 {
	transform: translate(500%, 400%);
}
.b.square-d5 {
	transform: translate(400%, 400%);
}
.b.square-e5 {
	transform: translate(300%, 400%);
}
.b.square-f5 {
	transform: translate(200%, 400%);
}
.b.square-g5 {
	transform: translate(100%, 400%);
}
.b.square-h5 {
	transform: translate(0%, 400%);
}

.b.square-a6 {
	transform: translate(700%, 500%);
}
.b.square-b6 {
	transform: translate(600%, 500%);
}
.b.square-c6 {
	transform: translate(500%, 500%);
}
.b.square-d6 {
	transform: translate(400%, 500%);
}
.b.square-e6 {
	transform: translate(300%, 500%);
}
.b.square-f6 {
	transform: translate(200%, 500%);
}
.b.square-g6 {
	transform: translate(100%, 500%);
}
.b.square-h6 {
	transform: translate(0%, 500%);
}

.b.square-a7 {
	transform: translate(700%, 600%);
}
.b.square-b7 {
	transform: translate(600%, 600%);
}
.b.square-c7 {
	transform: translate(500%, 600%);
}
.b.square-d7 {
	transform: translate(400%, 600%);
}
.b.square-e7 {
	transform: translate(300%, 600%);
}
.b.square-f7 {
	transform: translate(200%, 600%);
}
.b.square-g7 {
	transform: translate(100%, 600%);
}
.b.square-h7 {
	transform: translate(0%, 600%);
}

.b.square-a8 {
	transform: translate(700%, 700%);
}
.b.square-b8 {
	transform: translate(600%, 700%);
}
.b.square-c8 {
	transform: translate(500%, 700%);
}
.b.square-d8 {
	transform: translate(400%, 700%);
}
.b.square-e8 {
	transform: translate(300%, 700%);
}
.b.square-f8 {
	transform: translate(200%, 700%);
}
.b.square-g8 {
	transform: translate(100%, 700%);
}
.b.square-h8 {
	transform: translate(0%, 700%);
}

.piece.br {
	background-image: url("/images/chess/br.png");
}
.piece.bn {
	background-image: url("/images/chess/bn.png");
}
.piece.bb {
	background-image: url("/images/chess/bb.png");
}
.piece.bq {
	background-image: url("/images/chess/bq.png");
}
.piece.bk {
	background-image: url("/images/chess/bk.png");
}
.piece.bp {
	background-image: url("/images/chess/bp.png");
}

/* White pieces */
.piece.wr {
	background-image: url("/images/chess/wr.png");
}
.piece.wn {
	background-image: url("/images/chess/wn.png");
}
.piece.wb {
	background-image: url("/images/chess/wb.png");
}
.piece.wq {
	background-image: url("/images/chess/wq.png");
}
.piece.wk {
	background-image: url("/images/chess/wk.png");
}
.piece.wp {
	background-image: url("/images/chess/wp.png");
}

.piece {
	padding: 0;
	margin: 0;
	background: none;
	border: none;
	background-size: 100%;
	cursor: pointer;
	cursor: grab;
	cursor: -webkit-grab;
	height: 12.5%; /* 1/8th of the board height */
	width: 12.5%; /* 1/8th of the board width */
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	touch-action: none;
	will-change: transform;
}

.dragging {
	cursor: grabbing;
	cursor: -webkit-grabbing;
	z-index: 2;
}

.highlight {
	background-color: rgb(255, 255, 51);
	opacity: 0.5;
}

.hint {
	background-color: rgba(0, 0, 0, 0.14);
	padding: 4.2%;
}

.capture-hint {
	border: 5px solid rgba(0, 0, 0, 0.14);
	border-width: 6.8px;
}

.capture-hint,
.hint {
	background-clip: content-box;
	border-radius: 50%;
	box-sizing: border-box;
	pointer-events: none;
}
.capture-hint,
.highlight,
.hint {
	height: 12.5%;
	left: 0;
	position: absolute;
	top: 0;
	width: 12.5%;
}
